
__pycache__
.pytest_cache
cropped_images
dataset
*.png
*.mp3
.temp
*.pickle
*.zip
src/captions_old
*.idea
cntell_env
*debug.py
*.jpg
# !src/visual_system/scene/cls_references/hall/*.jpg
# !src/visual_system/scene/cls_references/Penny's Apartment/*.jpg
# !src/visual_system/scene/cls_references/Leonard's Apartment/*.jpg
*.p
src/learnableOSG/h5
*exp.ipynb 
*.mp4
*.mov
*.pt
LightGlue
*places365*
*patch*
src/scene/autoencoders/building_blocks.py
src/scene/autoencoders/my_code.py
.gitignore
src/scene/autoencoders/runs
*wideresnet.py*
*exp*
src/scene/autoencoders/autoencoders.ipynb
*.MOV 
*.yaml
*.jpeg
*lightglue*
test_env
wandb
src/visual_system/scene/autoencoders/ae_architecture.json
