torch
torchvision
torchaudio
numpy
stanza
nltk
ultralytics
datasets
transformers
soundfile
ffmpegio
ffmpeg-python
facenet-pytorch
moviepy
pytest
pydantic
pyannote.audio @ https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip
lightglue @ https://github.com/cvg/LightGlue/archive/refs/heads/main.zip
opencv-python-headless
scenedetect